<div class="wrapper">
    <div id="vida-wrapper" class="w-50 mx-auto text-center">
        <app-barra-de-vida
            [cantVidas]="this.vidas" ></app-barra-de-vida>
    </div>
    
    <div id="resultado-wrapper" class="text-center w-50 mx-auto" [ngClass]="{ 'bg-danger': perdio, 'bg-success': !perdio }">
        <span class="text-lg">{{resultado}}</span>
    </div>
    <div *ngIf="palabra != ''" id="palabra-wrapper" class="bg-warning w-50 mx-auto">
        <div id="palabra" class="mx-auto w-25 border border-1 text-center">
            <span *ngFor="let letra of descubierto.split('')" >{{letra}} </span>
        </div>
    </div>
    
    <div id="letras-wrapper">
        <app-letras
            (letra)="eligeLetra($event)"></app-letras>
    </div>
    
    <div class="d-flex justify-content-center" *ngIf="palabra == ''">
        <button (click)="rollPalabra()" class="btn btn-primary btn-warning border rounded p-3">DAME UNA PALABRA!!!</button>
    </div>
</div>