<div *ngIf="!this.usuario" class="text-center">
    <h1 class="text-danger">No iniciaste Sesion!!</h1>
    <a href="" class="btn btn-danger" routerLink="/log-in">Iniciar Sesion</a>
</div>

<div *ngIf="this.usuario" id="wrapper" class="text-center">
    <div class="container">

        <div class="row justify-content-between">
            <div class="col-12">
                <h2 class="mt-4 mb-4">JUEGOS</h2>
            </div>
    
            <div class="card-custom col-md-5 col-lg-2 rounded bg-light">
                <a class="text-decoration-none" routerLink="ahorcado">
                
                    <div class="card-box">
                        <h3><span class="mt-2 text-danger">Ahorcado</span></h3>
                        <div class="card-thumbnail">
                            <img src="/assets/Ahorcado-preview.png" class="img-fluid" alt="AHORCADO">
                        </div>
                        <p class="text-secondary">
                            El ahorcado (también llamado colgado) es un juego de adivinanzas para dos o más jugadores. 
                            Un jugador piensa en una palabra, frase u oración y el otro trata de adivinarla según lo que sugiere por letras o números.</p>
                    </div>
                    
                </a>
            </div>
    
            <div class="card-custom col-md-5 col-lg-2 rounded bg-light">
                <a class="text-decoration-none" routerLink="mayor-menor">
                    
                    <div class="card-box">
                        <h3><span class="mt-2 text-danger">Mayor Y Menor</span></h3>
                        <div class="card-thumbnail">
                            <img src="/assets/MayorYMenor-preview.png" class="img-fluid" alt="MAYOR Y MENOR">
                        </div>
                        <p class="text-secondary">
                            Juego que compara una carta con su siguiente en un mazo.
                            Para ello, hay que seleccionar el operador matemático de comparación, mayor o menor, para señalar si la siguiente será más alta.
                        </p>
                    </div>

                </a>
            </div>

            <div class="card-custom col-md-5 col-lg-2 rounded bg-light">
                <a class="text-decoration-none" routerLink="keyboard-attack">
                    
                    <div class="card-box">
                        <h3><span class="mt-2 text-danger">Keyboard Attack</span></h3>
                        <div class="card-thumbnail">
                            <img src="/assets/KeyboarAttack-preview.png" class="img-fluid" alt="MAYOR Y MENOR">
                        </div>
                        <p class="text-secondary">
                            Juego que consiste en pulsar letras en un tiempo determinado para vencer a la maquina como oponente.
                        </p>
                    </div>

                </a>
            </div>

            <div class="card-custom col-md-5 col-lg-2 rounded bg-light">
                <a class="text-decoration-none" routerLink="preguntados">
                    
                    <div class="card-box">
                        <h3><span class="mt-2 text-danger">Preguntados</span></h3>
                        <div class="card-thumbnail">
                            <img src="/assets/Preguntados-preview.png" class="img-fluid" alt="MAYOR Y MENOR">
                        </div>
                        <p class="text-secondary">
                            Adivina a que juego esta haciendo referencia la imagen!! Solo tenes cuatro opciones!!
                        </p>
                    </div>

                </a>
            </div>
    
        </div>

    </div>
</div>