<div class="direct-chat-messages">

    <div class="direct-chat-msg" *ngFor="let chat of chats" [ngClass]="{right:this.usuario?.email != chat.usuario.email}">
        <div class="direct-chat-info clearfix">
        <span class="direct-chat-name pull-left">{{chat.usuario.nombre}} {{chat.usuario.apellido}}</span>
        <span class="direct-chat-timestamp pull-right">{{ chat.hora | date }}</span>
        </div>
    
        <img class="direct-chat-img" src="https://bootdey.com/img/Content/user_1.jpg" alt="Message User Image">
        <div class="direct-chat-text">
        {{chat.mensaje}}
        </div>
        <small
            [hidden]= "usuario !== undefined"
            class="form-text text-danger text-uppercase">
            NO HA INICIADO SESION
        </small>
    </div>
    
    
    
    <!-- <div class="direct-chat-msg right">
        <div class="direct-chat-info clearfix">
        <span class="direct-chat-name pull-right">Sarah Bullock</span>
        <span class="direct-chat-timestamp pull-left">23 Jan 2:05 pm</span>
        </div>
    
        <img class="direct-chat-img" src="https://bootdey.com/img/Content/user_2.jpg" alt="Message User Image">
        <div class="direct-chat-text">
        You better believe it!
        </div>
    
    </div>
    
    
    
    <div class="direct-chat-msg">
        <div class="direct-chat-info clearfix">
        <span class="direct-chat-name pull-left">Alexander Pierce</span>
        <span class="direct-chat-timestamp pull-right">23 Jan 2:00 pm</span>
        </div>
    
        <img class="direct-chat-img" src="https://bootdey.com/img/Content/user_1.jpg" alt="Message User Image">
        <div class="direct-chat-text">
        Is this template really for free? That's unbelievable!
        </div>
    
    </div>
    
    
    
    <div class="direct-chat-msg right">
        <div class="direct-chat-info clearfix">
        <span class="direct-chat-name pull-right">Sarah Bullock</span>
        <span class="direct-chat-timestamp pull-left">23 Jan 2:05 pm</span>
        </div>
    
        <img class="direct-chat-img" src="https://bootdey.com/img/Content/user_2.jpg" alt="Message User Image">
        <div class="direct-chat-text">
        You better believe it!
        </div>
    
    </div>
    
    
    <div class="direct-chat-msg">
        <div class="direct-chat-info clearfix">
        <span class="direct-chat-name pull-left">Alexander Pierce</span>
        <span class="direct-chat-timestamp pull-right">23 Jan 2:00 pm</span>
        </div>
    
        <img class="direct-chat-img" src="https://bootdey.com/img/Content/user_1.jpg" alt="Message User Image">
        <div class="direct-chat-text">
        Is this template really for free? That's unbelievable!
        </div>
    
    </div>
    
    
    
    <div class="direct-chat-msg right">
        <div class="direct-chat-info clearfix">
        <span class="direct-chat-name pull-right">Sarah Bullock</span>
        <span class="direct-chat-timestamp pull-left">23 Jan 2:05 pm</span>
        </div>
    
        <img class="direct-chat-img" src="https://bootdey.com/img/Content/user_2.jpg" alt="Message User Image">
        <div class="direct-chat-text">
        You better believe it!
        </div>
    
    </div>
    
    
    
    <div class="direct-chat-msg">
        <div class="direct-chat-info clearfix">
        <span class="direct-chat-name pull-left">Alexander Pierce</span>
        <span class="direct-chat-timestamp pull-right">23 Jan 2:00 pm</span>
        </div>
    
        <img class="direct-chat-img" src="https://bootdey.com/img/Content/user_1.jpg" alt="Message User Image">
        <div class="direct-chat-text">
        Is this template really for free? That's unbelievable!
        </div>
    
    </div>
    
    
    
    <div class="direct-chat-msg right">
        <div class="direct-chat-info clearfix">
        <span class="direct-chat-name pull-right">Sarah Bullock</span>
        <span class="direct-chat-timestamp pull-left">23 Jan 2:05 pm</span>
        </div>
    
        <img class="direct-chat-img" src="https://bootdey.com/img/Content/user_2.jpg" alt="Message User Image">
        <div class="direct-chat-text">
        You better believe it!
        </div>
    
    </div>
    
    
    <div class="direct-chat-msg">
        <div class="direct-chat-info clearfix">
        <span class="direct-chat-name pull-left">Alexander Pierce</span>
        <span class="direct-chat-timestamp pull-right">23 Jan 2:00 pm</span>
        </div>
    
        <img class="direct-chat-img" src="https://bootdey.com/img/Content/user_1.jpg" alt="Message User Image">
        <div class="direct-chat-text">
        Is this template really for free? That's unbelievable!
        </div>
    
    </div>
    
    
    
    <div class="direct-chat-msg right">
        <div class="direct-chat-info clearfix">
        <span class="direct-chat-name pull-right">Sarah Bullock</span>
        <span class="direct-chat-timestamp pull-left">23 Jan 2:05 pm</span>
        </div>
    
        <img class="direct-chat-img" src="https://bootdey.com/img/Content/user_2.jpg" alt="Message User Image">
        <div class="direct-chat-text">
        You better believe it!
        </div>
    
    </div>
    
    
    
    <div class="direct-chat-msg">
        <div class="direct-chat-info clearfix">
        <span class="direct-chat-name pull-left">Alexander Pierce</span>
        <span class="direct-chat-timestamp pull-right">23 Jan 2:00 pm</span>
        </div>
    
        <img class="direct-chat-img" src="https://bootdey.com/img/Content/user_1.jpg" alt="Message User Image">
        <div class="direct-chat-text">
        Is this template really for free? That's unbelievable!
        </div>
    
    </div>
    
    
    
    <div class="direct-chat-msg right">
        <div class="direct-chat-info clearfix">
        <span class="direct-chat-name pull-right">Sarah Bullock</span>
        <span class="direct-chat-timestamp pull-left">23 Jan 2:05 pm</span>
        </div>
    
        <img class="direct-chat-img" src="https://bootdey.com/img/Content/user_2.jpg" alt="Message User Image">
        <div class="direct-chat-text">
        You better believe it!
        </div>
    
    </div>
    
    
    <div class="direct-chat-msg">
        <div class="direct-chat-info clearfix">
        <span class="direct-chat-name pull-left">Alexander Pierce</span>
        <span class="direct-chat-timestamp pull-right">23 Jan 2:00 pm</span>
        </div>
    
        <img class="direct-chat-img" src="https://bootdey.com/img/Content/user_1.jpg" alt="Message User Image">
        <div class="direct-chat-text">
        Is this template really for free? That's unbelievable!
        </div>
    
    </div>
    
    
    
    <div class="direct-chat-msg right">
        <div class="direct-chat-info clearfix">
        <span class="direct-chat-name pull-right">Sarah Bullock</span>
        <span class="direct-chat-timestamp pull-left">23 Jan 2:05 pm</span>
        </div>
    
        <img class="direct-chat-img" src="https://bootdey.com/img/Content/user_2.jpg" alt="Message User Image">
        <div class="direct-chat-text">
        You better believe it!
        </div>
    
    </div>
    
    
    
    <div class="direct-chat-msg">
        <div class="direct-chat-info clearfix">
        <span class="direct-chat-name pull-left">Alexander Pierce</span>
        <span class="direct-chat-timestamp pull-right">23 Jan 2:00 pm</span>
        </div>
    
        <img class="direct-chat-img" src="https://bootdey.com/img/Content/user_1.jpg" alt="Message User Image">
        <div class="direct-chat-text">
        Is this template really for free? That's unbelievable! 
        </div>
    
    </div>
    
    
    <div class="direct-chat-msg right">
        <div class="direct-chat-info clearfix">
        <span class="direct-chat-name pull-right">Sarah Bullock</span>
        <span class="direct-chat-timestamp pull-left">23 Jan 2:05 pm</span>
        </div>
    
        <img class="direct-chat-img" src="https://bootdey.com/img/Content/user_2.jpg" alt="Message User Image">
        <div class="direct-chat-text">
        You better believe it!
        </div>
    
    </div> -->
    
</div>