<div *ngIf="usuario !== undefined" class="direct-chat-messages">

    <div class="direct-chat-msg" *ngFor="let chat of chatsPorFecha()" [ngClass]="{right:this.usuario?.email != chat.usuario.email}">
        <div class="direct-chat-info clearfix">
        <span class="direct-chat-name pull-left">{{chat.usuario.nombre}} {{chat.usuario.apellido}}</span>
        <span class="direct-chat-timestamp mx-1 bg-dark pull-right">{{ chat.hora | date }}</span>
        </div>
    
        <img class="direct-chat-img" src="https://bootdey.com/img/Content/user_1.jpg" alt="Message User Image">
        <div class="direct-chat-text">
        {{chat.mensaje}}
        </div>
    </div>
    
</div>
<small
        [hidden]= "usuario !== undefined"
        class="bg-dark p-5 form-text text-danger text-uppercase">
        NO HA INICIADO SESION
</small>