<div class="container">

    <div class="row justify-content-center">

        <form class="col col-12 col-md-8 col-xl-6 py-2 bg-light border text-center">

            <h2 class="text-uppercase">{{title}}</h2>

            <div class="row py-2">
                <label for="user">
                    <i class="far fa-user mx-2"></i>
                    <input type="text" name="user" id="user" placeholder="Usuario">
                </label>
            </div>

            <div class="row py-2">
                <label for="password">
                    <i class="fas fa-user-lock mx-2"></i>
                    <input type="password" name="password" id="password" placeholder="Contraseña">
                </label>
            </div>

            <button class="py-2 my-2 btn btn-primary">{{button_title}}</button>

        </form>

    </div>

</div>