<div class="position-absolute start-0 w-100 row justify-content-center rounded">
    <div class="w-25 card text-center row align-items-center bg-dark p-5 color-white text-light">
        <img class="card-img-top img-fluid" src="../../../assets/VarelaVargasLeandro.png" alt="Varela Vargas Leandro" style="width: 200px; height: 200px;">
        <hr class="mt-5">
        <div class="card-body">
            <h5 class="card-title">Varela Vargas Leandro Gaston</h5>
            <h5>Juego: Key Attack</h5>
            <p class="card-text">
                Key Attack es un juego de batalla donde el jugador se enfrentará a la máquina probando su rapidez, debiendo pulsar la tecla mostrada en pantalla en un tiempo determinado.
                Si lo consigue el jugador asestará un ataque, caso contrario la máquina asestará un ataque contra el jugador.
            </p>
        </div>
    </div>
</div>