<div class="mx-auto card bg-dark text-white" style="width: 35rem;">
    <img class="w-50 pt-4 card-img-top align-self-center" src="../../../assets/VarelaVargasLeandro.png" alt="Varela Vargas Leandro Gastón">
    <div class="card-body text-center">
        <h5 class="card-title">Varela Vargas Leandro</h5>
        <hr>
        <h5>Juego: Keyboard Attack</h5>
        <p class="card-text">
        Mi videojuego consistirá en pulsar letras en un tiempo determinado para vencer a
        la maquina como oponente.
        </p>
    </div>
</div>