<div class="wrapper">
    <div id="puntos-wrapper" class="text-center mx-auto bg-dark px-4">
        <span class="align-start text-success" >Puntos: {{puntos}}</span>
    </div>
    
    <div id="mazo-wrapper" class="my-3">
        <div class="mazo mx-auto">{{actual}}</div>
    </div>

    <div class="text-center mx-auto bg-dark px-4">
        <span class="align-start text-success">Actual</span>
        <button 
            (click)="elige(false)" 
            class="custom-btn btn mx-2" 
            data-bs-toggle="tooltip" 
            data-bs-placement="top" 
            title="MAYOR">
            <i class="i align-middle h1 text-success fas fa-angle-left"></i>
        </button>
        <span class="align-start text-success">Siguiente</span>
        <button 
            (click)="elige(true)" 
            class="custom-btn btn mx-2" 
            data-bs-toggle="tooltip"
            data-bs-placement="top" 
            title="MENOR">
            <i class="i align-middle h1 text-success fas fa-angle-right"></i>
        </button>
        <span class="align-start text-success">Actual</span>
    </div>
</div>