<div class="text-center text-white">
  <main class="form-signin bg-dark">
      <form [formGroup] = "crearCuentaForm" (ngSubmit)=onSubmit()>
        <i class="far fa-user"></i>
        <h1 class="h3 mb-3 fw-normal">{{title}}</h1>
  
        <div class="form-floating text-dark">
          <input formControlName="usuario" type="email" class="form-control" placeholder="usuario123">
          <label for="floatingInput">Email</label>
          <small
              [hidden]= "crearCuentaForm.controls['usuario'].valid"
              class="form-text text-danger text-uppercase">
              Ingrese una direccion de email valida.
          </small>
        </div>
        <div class="form-floating text-dark">
          <input formControlName="password" type="password" class="form-control" placeholder="pass123">
          <label for="floatingPassword">Contrasenia</label>
          <small
              *ngIf= "crearCuentaForm.controls.password.errors?.minlength || crearCuentaForm.controls.password.errors?.required"
              class="form-text text-danger text-uppercase">
              Ingrese al menos 5 caracteres.
          </small>
          <small
              *ngIf="crearCuentaForm.controls['password'].errors?.maxlength"
              class="form-text text-danger text-uppercase">
              La contrasenia no puede exceder los 10 caracteres!
          </small>
        </div>
        <div class="form-floating text-dark">
          <input formControlName="nombre" type="text" class="form-control" placeholder="usuario123">
          <label for="floatingInput">Nombre</label>
          <small
              [hidden]= "crearCuentaForm.controls['nombre'].valid"
              class="form-text text-danger text-uppercase">
              Este es un campo obligatorio.
          </small>
        </div>
        <div class="form-floating text-dark">
          <input formControlName="apellido" type="text" class="form-control" placeholder="usuario123">
          <label for="floatingInput">Apellido</label>
          <small
              [hidden]= "crearCuentaForm.controls['apellido'].valid"
              class="form-text text-danger text-uppercase">
              Este es un campo obligatorio.
          </small>
        </div>

        <button class="w-100 btn btn-lg btn-success" type="submit">{{button_title}}</button>
        <small
              class="form-text text-danger text-uppercase">
              {{mensajeYaRegistrado}}
        </small>
        <small
              class="form-text text-danger text-uppercase">
              {{mensajeErrorGeneral}}
        </small>
        <p class="mt-5 mb-3 text-muted">&copy; 2021</p>
      </form>
  </main>
</div>