<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="juegos">DESCEREBRADOR</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="mr-0 collapse navbar-collapse justify-content-end" id="menu">
            
            <ul class="navbar-nav mr-0 mb-5 mb-lg-0 align-items-center">
                <li class="nav-item mx-3"><a class="nav-link rounded border border-black" routerLink="log-in">Iniciar Sesión</a></li>
                <li class="nav-item mx-3"><a class="nav-link rounded border border-black" routerLink="sign-up">Crear cuenta</a></li>
                <li class="nav-item mx-3"><a class="nav-link rounded border border-black" routerLink="who-am-i">Quién soy</a></li>
            </ul>

        </div>

    </div>
</nav>